@font-face {
   font-family: 'AVENGEANCE MIGHTIEST AVENGER';
   font-display: swap;
   src: url('AVENGEANCE MIGHTIEST AVENGER/font.ttf');
}
@font-face {
   font-family: 'AldotheApache';
   font-display: swap;
   src: url('AldotheApache/font.ttf');
}
