@font-face {
   font-family: 'AVENGEANCE MIGHTIEST AVENGER';
   font-display: swap;
   src: url('file:///C:/Users/user/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-26_180032/fonts/AVENGEANCE%20MIGHTIEST%20AVENGER/font.ttf');
}
